body *{

    display: flex;
}

.borderStyle{
    border: 2px solid black;
    flex-grow: 1;
    margin: 5px;
    flex-direction: column;
}

header{
    height: 100px;
}

#content-area{
    height: 75vh;
}

#content-area aside{
    flex-grow: 1;
}

#content-area main{
    flex-grow: 4;
}

footer{
    height: 20vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
    
    aside{
        display: none;
    }

    section{
        flex-direction: column;
    }

    main{
        height: 74vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}